* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  background: #f3f7ff;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-panel {
  flex: 1;
  background-image: url('/imgs/bckg1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.514);
  height: 100%;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.8;
}

.overlay h2 {
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.quote-sub {
  font-size: 10px;
  max-width: 80%;
}

.right-panel {
  flex: 1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.form-box {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 30px;
  
}

.logo {
  width: 180px;
  margin-left: 60px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #1e3a8a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.signup{
  color: #000000;
  font-size: 13px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
}

input:focus,
select:focus {
  border-color: #1e3a8a;
}

.login-btn {
  background-color: #1e3a8a;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #2b4fc7;
}

.google-btn {
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.google-btn:hover {
  background: #f2f2f2;
}

.signup {
  margin-top: 20px;
  font-size: 13px;
}

.signup a {
  color: #1e3a8a;
  text-decoration: none;
  font-weight: 500;
}

.signup a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    flex: none;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
  }

  .form-box {
    max-width: 100%;
    border-radius: 30px;
  }

  input,
  select {
    border-radius: 30px;
  }
}
